
body {
    background-color: #9e8a6f;
    color: #AA170F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
}

a {
    color: #AA170F;
    text-decoration: none;
}

.birthday-card {
    background-color: #e8ddcd;
    border: 5px solid #9b2e1d;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

h1 {
    font-family: garamond;
    font-size: 50px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

.birthday-card:hover {
    box-shadow: 5px -10px 18px #8d452c;
}